.dino-header {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(9, 6, 28);
  height: 70px;
  color: rgb(255, 255, 255);
}
.dino-header .header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.dino-header .header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dino-header .header-logo span {
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-left: 10px;
}

.dino-header .header-logo span:first-child {
  margin-left: 0;
}

.dino-header .login-btn {
  border-radius: 30px;
  border: 1.5px solid #fff !important;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  background: transparent !important;
  color: #fff !important;
  font-size: 16px;
  line-height: 1;
  font-family: "Lexend Deca", sans-serif;
  height: auto;
}

.dino-header .login-btn:hover {
  background: #fff !important;
  color: #000 !important;
}
