.dino-bucket-detail {
  margin-top: 20px;
}
.dino-bucket-page {
  margin-top: 30px;
}
.dino-bucket-page tbody tr td {
  cursor: pointer;
}
.dino-bucket-page thead > tr > th {
  background: #f0f0f0 !important;
}
.ant-breadcrumb a:hover {
  background: transparent !important;
  color: #333 !important;
}
.ant-btn-primary {
  background: rgb(141, 61, 216) !important;
}
.ant-table-wrapper .ant-table {
  overflow-x: auto;
}
.ant-btn-default:not(:disabled):hover {
  color: rgb(141, 61, 216) !important;
  border-color: rgb(141, 61, 216) !important;
}
