body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
